name: Benchmark Build and Push

on:
  # schedule:
  #   - cron: "0 9 * * 1"
  workflow_dispatch:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  build-and-push:
    name: Build and push all images
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x86
          - arm64
          - riscv64

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Pull images
        run: |
          docker pull dockcross/linux-${{ matrix.arch }}:latest

      - name: Build
        run: |
          make ${{ matrix.arch }}


      ## -- Test the build --
      - name: Test
        if: ${{ matrix.arch == 'x86' }}
        run: |
          ./build-x86/ubench --list